.picker-column {
  list-style-type: none;
  text-align: left;
  float: left;
  overflow: scroll;
  height: 100%;
  padding: 0px;
  border-right: 1px solid black;
}

.picker-column-row {
  width: 100px;
  border-bottom: 1px solid black;
  padding-left: 10px;
  cursor: pointer;
  color: #FFF;
}


.picker-column .selected {
  background-color: #000;
}
